@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(66, 255, 138);
}

#container {
    display: flex;
    align-items: center;
    gap: 4rem;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 66, 20);
    border-radius: 10px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title {
    font-size: 2.25rem;
    position: relative;
}

.input-box label {
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}

.input-field span,
.input-field i {
    color: rgb(0, 75, 31);
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: rgb(0, 54, 14);
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    appearance: none;
}

.input-field input:focus {
    outline: none;
}

#calculate {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 46, 18);
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer;
}

#calculate:active {
    background-color: rgb(2, 207, 87) ;
    color: white;
}


#result {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff;
    padding: 0.75rem 0;
}

#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}

#bmi span:last-child {
    font-size: 0.875rem;
    color: white;
}

#description {
    width: 15.5rem;
}

.normal {
    color: green;
}

.attention {
    color: red;
}

.sobrepeso {
    color: orangered;
}

@media screen and (max-width: 500px) {
    #container {
        width: 100%;
        height: 100%;
    }

    #calculator {
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
    }
    
}